<main class="p-4">
  <!-- <div class="text-2xl font-bold mb-6"></div> -->

  <div class="flex flex-row sm:flex-col lg:flex-row">
    <section class="w-1/2">
      <div class="container flex items-center flex-col gap-4">
        <img
          src="{{ productDetails.image }}"
          alt="{{ productDetails.name }}"
          class="object-scale-down"
        />
      </div>
    </section>

    <section class="w-1/2">
      <div class="lg:col-span-2 lg:pr-8">
        <h1 class="text-2xl font-bold tracking-tight text-gray-900 sm:text-3xl">
          {{ productDetails.name }}
        </h1>
      </div>

      <div class="py-10 lg:col-span-2 lg:col-start-1 lg:pb-16 lg:pr-8 lg:pt-6">
        <!-- Description and details -->
        <div>
          <h3 class="sr-only">Description</h3>

          <div class="space-y-6">
            <p class="text-base text-gray-900">
              {{ productDetails.description }}
            </p>
          </div>
        </div>

        <div class="mt-10">
          <h3 class="text-sm font-medium text-gray-900">Accessories</h3>

          <div class="mt-4">
            <ul role="list" class="list-disc space-y-2 pl-4 text-sm">
              <li class="text-gray-400">
                <span class="text-gray-600">Wiring Kit</span>
              </li>
              <li class="text-gray-400">
                <span class="text-gray-600"
                  >Battery Cover</span
                >
              </li>
            </ul>
          </div>
        </div>

        <div class="mt-10">

          <button
          mat-flat-button
          color="accent"
          (click)="addToListSig()"
          >
          Buy
        </button>
      </div>

        <!-- <div class="mt-10">
          <h2 class="text-sm font-medium text-gray-900">Details</h2>

          <div class="mt-4 space-y-6">
            <p class="text-sm text-gray-600">
              
            </p>
          </div>
        </div> -->
      </div>
    </section>
  </div>
</main>
