<main class="p-4">
  <div class="text-2xl font-bold mb-6">Dashboard</div>

  <div class="flex justify-between sm:block md:flex mb-4">
    <mat-form-field appearance="outline" class="w-full md:w-1/2">
      <input
        type="text"
        matInput
        placeholder="Search by Name, Code, Category"
        [(ngModel)]="searchTerm"
        (input)="onSearch()"
      />
      <mat-icon matIconPrefix>search</mat-icon>
    </mat-form-field>

    <div class="">
      <button
        mat-fab
        extended
        class="w-full"
        color="primary"
        [matBadge]="service.checkoutListsSig().length"
        [matBadgeHidden]="service.checkoutListsSig().length === 0"
        [matBadgeSize]="'large'"
        (click)="viewList()"
        [disabled]="service.checkoutListsSig().length === 0"
      >
        View list
      </button>
    </div>
  </div>

  <div class="grid md:grid-cols-2 lg:grid-cols-4 2xl:grid-cols-5 gap-4 mb-4">
    @for (product of filteredProducts; track product.id) {
    <div (click)="productDetailsPage(product)" class="cursor-pointer">
      <mat-card class="p-6">
        <img
          mat-card-image
          [src]="product.image"
          alt="{{ product.name }}"
          class="rounded-xl"
        />
        <mat-card-content class="mt-4 pad0">
          <mat-card-title>{{ product.name }}</mat-card-title>
          <mat-card-subtitle>
            <div class="mr-2">Code: {{ product.productCode }}</div>
            <div class="mr-2">Category: {{ product.category }}</div>
          </mat-card-subtitle>
          <p>Price: ${{ product.price }}</p>
          <p>{{ product.description }}</p>
        </mat-card-content>
        <!-- <mat-card-actions class="pad0" align="end">
          <button
            mat-flat-button
            color="accent"
            (click)="addToListSig(product)"
          >
            Add to List
          </button>
        </mat-card-actions> -->
      </mat-card>
    </div>
    }
  </div>
</main>
